{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Picture Perfect Studio</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css'%}">    
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
   <!-- Custom CSS -->
   
   <script src="https://kit.fontawesome.com/a230773f21.js" crossorigin="anonymous"></script>
   <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
	
   

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
    <div id="preloader">
		<div class="preloader pulse">
			<i class="fa fa-heartbeat" aria-hidden="true"></i>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="home"><img src="{% static 'images/logo.jpg'%}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
						<li><a class="nav-link " href="home">Home</a></li>
                        <li><a class="nav-link" href="aboutus">About Us</a></li>
                        <li><a class="nav-link" href="gallery">Gallery</a></li>
						<li><a class="nav-link active" href="contact">Contact</a></li>
						<li><a class="nav-link " href="FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
    <!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2 style="font-family: 'Slabo 27px', serif">Contact   <span>us</span></h2>
						<p> <a href="tel:+917905746104"class ="btn btn-common"  ><i class="fas fa-phone-volume fa-lg ">    </i>      7905746104</a>
							<a href="tel:+918318253621" class ="btn btn-common"><i class="fas fa-phone-volume fa-lg"></i>  8318253621</a> </p>
							<p><i class="fas fa-envelope fa-lg"></i><a href="mailto: ppslko7080@gmail.com" >   ppslko7080@gmail.com  </a>
								 </p>
								 <p><a href="https://wa.me/7905746104" ><i class="fab fa-whatsapp btn fa-lg"> Whatsapp us </i></a>
									<div class="socials submit-button text-center">
										<a href="https://m.facebook.com/Picture-Perfect-Studio-106596894289309/" class ="btn btn-common"><i class="fa fa-facebook"></i></a>
										<a href="https://instagram.com/pictureperfectstudio27?igshid=ru7pd5o3fjxk" class ="btn btn-common"><i class="fa fa-instagram"></i></a>
					
										<a href="https://youtube.com/channel/UCQn0W5kgR1lQkT7LUy1xitA" class ="btn btn-common"><i class="fa fa-youtube"></i></a>
									</div>
								 </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
				  <div class="contact-block">
					<form id="contactForm" method="post" action='contact'>
						{% csrf_token%}
					  <div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Your Contact Number" id="Contact" class="form-control" name="contact" required data-error="Please enter your Contact Number">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Your Message" name="message" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Send Message</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
								
							</div>
					
								
								
						</div>
					  </div>          
					</form>

				  </div>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.356352325246!2d80.9997364145202!3d26.892183467448692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399959e35a8eca4b%3A0x5490be4c5bcfd622!2sPicture%20Perfect%20Studio!5e0!3m2!1sen!2sin!4v1616133052586!5m2!1sen!2sin" width="1100" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
			</div>
		</div>
	</div>
	<!-- End Contact -->
    <!-- Start Footer -->
    <footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Picture Perfect Studio</a> Design By : Sonika Sharan</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

<!-- ALL JS FILES -->
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>

>
<script src="{% static 'js/smoothscroll.js'%}"></script>
<script src="{% static 'js/form-validator.min.js'%}"></script>

<script src="{% static 'js/custom.js'%}"></script>
</body>
</html>
	