{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Picture Perfect Studio</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css'%}">    
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
   <!-- Custom CSS -->
 
   <script src="https://kit.fontawesome.com/a230773f21.js" crossorigin="anonymous"></script>
   <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
	
   

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
    <div id="preloader">
		<div class="preloader pulse">
			<i class="fa fa-heartbeat" aria-hidden="true"></i>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="home"><img src="{% static 'images/logo.jpg'%}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link " href="home">Home</a></li>
                        <li><a class="nav-link " href="aboutus">About Us</a></li>
                        <li><a class="nav-link" href="gallery">Gallery</a></li>
						<li><a class="nav-link" href="contact">Contact</a></li>
                        <li><a class="nav-link active" href="FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header> <!-- Start faq -->
    <div id="story" class="story-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2 style="font-family: 'Slabo 27px', serif">Frequently Asked Questions</h2>
						<p>Clear your doubt </p>
					</div>
				</div>
			</div>
            <div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                           What are the services you offer?
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Services</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                           1. Wedding photography and videography<br>
                           2. Pre-wedding shoots ,photography and videography <br>
                           3. Candid photography<br>
                           4. Traditional photography and videography<br>
                           5. Cinematography<br>
                           6. Maternity shoot<br>
                           7. Baby shoot<br>
                           8. Albums<br>
					 </div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What are the  Occasions you cover?
                           
                        </p>
                    </div>
				</div><span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                           1. Wedding <br>
                           2. Engagement <br>
                           3. Day Functions Mehndi & Sangeet <br>
                           4. Couple pre-wedding  <br>
                           5. Corporate events<br>
                           6. Birthday Parties<br>
                           7. Other Parties<br>
						</p>
					 </div>
				</div>
			</div>
            <div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is the price for 2 day wedding package that covers engagement/reception & wedding for an audience size of 300? (Typically includes: Photography & Videography, both shot candidly and traditionally)
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            ₹ 115000
					 </div>
				</div>
			</div>
            <div class="row timeline-element reverse separline">
				
				
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            Do you travel outstation?
                        </p>
                    </div>
				</div>

				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            Yes
						</p>
					 </div>
				</div>
			</div>
            <div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            Which forms of payment do you accept?
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                           1. Net banking <br>
                           2. Cash<br>
                           3. Cheque/ DD<br>
                           4. Debit/ Credit cards<br>
                           5. Mobile wallets<br>
                           6. UPI<br>
					 </div>
				</div>
			</div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is the % advance amount to confirm the booking?
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            10%
						</p>
					 </div>
				</div>
			</div>
            <div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is your cancellation policy?
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            Non refundable
					 </div>
				</div>
			</div>
            <div class="row timeline-element reverse separline">
				
				
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            Which year did you/your company professionally start services in?
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            2016
						</p>
					 </div>
				</div>
			</div>
            <div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                          Covid Ready?
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                           Yes
					 </div>
				</div>
			</div>
            <div class="row timeline-element reverse separline">
				
				
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is the price for 1 day pre-wedding photoshoot? (Typically includes: Teaser & a highlight video with photographs shot candidly and traditionally)
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Answer</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            ₹35,000
						</p>
					 </div>
				</div>
			</div>
        </div>
	</div>
    <!--end faq-->
    <div id="story" class="story-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2 style="font-family: 'Slabo 27px', serif">Services</h2>
						<p> </p>
					</div>
				</div>
			</div>
			<div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is the price range for 1 day pre-wedding photoshoot? (Typically includes: Teaser & a highlight video with photographs shot candidly and traditionally)
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Price range</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            ₹25,000 - ₹49,999
					 </div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is the price range for 1 day wedding package for an audience size of 300? (Typically includes: Photography & Videography, both shot candidly and traditionally)
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Price range</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            ₹50,000 - ₹74,999
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is the price range for 2 day wedding package that covers engagement/reception & wedding for an audience size of 300? (Typically includes: Photography & Videography, both shot candidly and traditionally
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Price range</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            ₹1,50,000 - ₹1,99,999
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            What is the price range for 3 day wedding package that covers pre-Wedding, engagement/reception & wedding for an audience size of 300? (Typically includes: Photography & Videography, both shot candidly and traditionally)

                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Price range</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
                            ₹1,50,000 - ₹1,99,999

						</p>
					 </div>
				</div>
			</div>	
		</div>
	</div>
   	
		
    <!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Picture Perfect Studio</a> Design By : Sonika Sharan</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- ALL JS FILES -->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/popper.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
   
	
	<script src="{% static 'js/smoothscroll.js'%}"></script>
	
    
    <script src="{% static 'js/custom.js'%}"></script>
</body>
</html>