{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Picture Perfect Studio</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css'%}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <!-- Custom CSS -->
   
	<script src="https://kit.fontawesome.com/a230773f21.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
	



</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
    <div id="preloader">
		<div class="preloader pulse">
			<i class="fa fa-heartbeat" aria-hidden="true"></i>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="home"><img src="{% static 'images/logo.jpg'%}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="home">Home</a></li>
                        <li><a class="nav-link" href="aboutus">About Us</a></li>
                        <li><a class="nav-link" href="gallery">Gallery</a></li>
						<li><a class="nav-link" href="contact">Contact</a></li>
						<li><a class="nav-link" href="FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					{% for i in head %}

					<div class="pogoSlider-slide"  data-duration="1500" style="background-image:url({{i.image.url}});">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h2 style="font-family: 'Slabo 27px', serif">Picture <span>Perfect </span> Studio</h2>
								<p  style="font-family: 'Slabo 27px', serif">Frame Your Memories</p>
								<a href="tel:+917905746104" class="btn "><i class="fas fa-phone-volume"></i>Call us</a>
								<a href="https://wa.me/7905746104" class="btn "><i class="fab fa-whatsapp"></i>Whatsapp</a>
								
							</div>
							
						</div>
					</div>
					
					{% endfor%}
				</div>
				<!-- .pogoSlider -->
				
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				
				<div class="row">
					
					<div class="col-lg-12">
						
						<div class="title-box">
							
							<h2 style="font-family: 'Slabo 27px', serif" >About<span>Me</span></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2 style="font-family: 'Slabo 27px', serif"> Sulok <span>Sharan</span></h2>
								<p> <b>"If you force it and you keep looking for moments then you’ll end up shooting what
									 you think the wedding should look like rather than actual moments that are 
									 unfolding in front of you."</b> and We at picture perfect studio capture the moments.
							         We are Lucknow based wedding photographers with about 7 years of experience in the photography industry. 
									 Our team of extremely unconventional,
									creative and professional photographers will serve you anywhere around the globe. 
									Our main aim is to capture candid moments on the most important day of your life
									and to make the beholder see the beauty in all of the wedding activities. 
									We are well equipped with all the tools required and the techniques
									 that are required to capture your day with utmost perfection. 
									We ensures that We idolize each and every moment
									 and preserve them in high definition.  </p>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								{%for i in ab %}
								<div class="about-img">
									
									<img class="img-fluid rounded" src="{{i.image.url}}" alt="" />
									
								</div>
								{% endfor%}
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->

	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2 style="font-family: 'Slabo 27px', serif">Gallery</h2>
						<p><div class="socials">
							<a href="https://m.facebook.com/Picture-Perfect-Studio-106596894289309/" class ="btn"><i class="fa fa-facebook fa-lg"></i></a>
							<a href="https://instagram.com/pictureperfectstudio27?igshid=ru7pd5o3fjxk" class ="btn"><i class="fa fa-instagram fa-lg"></i></a>
		
							<a href="https://youtube.com/channel/UCQn0W5kgR1lQkT7LUy1xitA" class ="btn"><i class="fa fa-youtube fa-lg"></i></a>
						</div></p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="popup-gallery clearfix">
					{% for i in image%}
					<li>
						<a href="{{i.image.url}}" >
							<img class="img-fluid" src="{{i.image.url}}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					{% endfor%}
				</ul>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	
	<!-- Start Events -->
	<div id="events" class="events-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12  ">
					<div class="title-box">
						<h2 style="font-family: 'Slabo 27px', serif">Have a <span>look</span> </h2>
						<p> <div class="socials">
							<a href="https://m.facebook.com/Picture-Perfect-Studio-106596894289309/" class ="btn"><i class="fa fa-facebook fa-lg"></i></a>
							<a href="https://instagram.com/pictureperfectstudio27?igshid=ru7pd5o3fjxk" class ="btn"><i class="fa fa-instagram fa-lg"></i></a>
		
							<a href="https://youtube.com/channel/UCQn0W5kgR1lQkT7LUy1xitA" class ="btn"><i class="fa fa-youtube fa-lg"></i></a>
						</div> </p>
					</div>
			<div class="row">
				{% for i in  vv%}
				<div class="col-lg-6 col-md-6 col-sm-12">
					
						{% video i.video 'small'%}
						
				</div>
				{% endfor%}
			</div></div>
		</div>
	</div>
</div>
	<!-- End Events -->
	<div id="events" class="events-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2 style="font-family: 'Slabo 27px', serif">Events</h2>
						<p> Have a Look.... </p>
					</div>
				</div>
			</div>
			<div class="row">
				{% for i in event%}
				<div class="col-lg-4 col-md-6 col-sm-12">
					
					<div class="event-inner">
						
						<div class="event-img">
							<img class="img-fluid" src="{{i.image.url}}" alt="" />
						</div>
						<h2> {{i.name}} </h2>
						
						<a href="gallery">Gallery ></a>
					</div>
					
				</div>{%endfor%}
			</div>
		</div>
	</div>
	
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Picture Perfect Studio</a> Design By : Sonika Sharan</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	
	<!-- ALL JS FILES -->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/popper.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js'%}"></script> 
	<script src="{% static 'js/slider-index.js'%}"></script>
	<script src="{% static 'js/smoothscroll.js'%}"></script>

    
    <script src="{% static 'js/custom.js'%}"></script>
</body>
</html>